header{background-color: #000000;}
h1{
    color: antiquewhite;
    font-size:3em;
    font-family: 'Times New Roman', Times, serif;
}
.premier{color:#f0f;}

.deux{color:rgb(255, 247, 0);}
span{font-size: 4em;}